# Executable files
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Build folders
/build/
/cmake-build-*/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE files (CLion / JetBrains)
.idea/

# Visual Studio files
.vs/
*.vcxproj*
*.sln

# Logs
*.log